<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">qwe</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@172.28.146.186:1521:orcl</property>
        <property name="hibernate.connection.username">test_rve</property>
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        
        <mapping class="com.ssn.Message"/>
        <mapping class="com.ssn.tennis.model.User"/>
        <mapping class="com.ssn.tennis.model.Match"/>
        <mapping class="com.ssn.tennis.model.Team"/>
        <mapping class="com.ssn.tennis.model.Tournament"/>
    </session-factory>
</hibernate-configuration>
